/* IzaacWeb V3 extra */

html {background: linear-gradient(90deg, #030012 0%, #001c03 50%, #030012 100%);
      background-color: #683f02;
      cursor: default;
      filter: hue-rotate(270deg);
      color: #e7e7e7e7;
      font-family:'Poppins',
      sans-serif; font-size: 13px;}

h1 {color: lime; font-style: italic;}
h2 {color: lime; font-style: italic;}

hr {box-shadow: 0px 0px 5px cyan;}

a {color: blue; 
   text-decoration: none; 
   transition: color 0.3s;}

a:hover {color: lime; transition: color 0.3s;}
a:active {color: green;}

@media screen and (min-width: 600px){
    html {font-size: 17px;}
}